{
  "extends": ["react-app", "react-app/jest"],
  "rules": {
    "import/no-anonymous-default-export": [
      2,
      {
        "allowAnonymousClass": true,
        "allowArrowFunction": true,
        "allowObject": true
      }
    ]
  }
}
